<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
</head>

<style>
    header{
        display: flex; align-items: center;
        flex-direction: column;
        background-color: rgb(53, 53, 53);
        width: 100%;
        height: 3000000000%;
    }

    #LogECad{
        display: flex;
    }


</style>

<body>
    <header>
        <div id="LogECad">
            <a href="/src/View/auth/login.html">Login</a>
            <a href="/src/View/auth/register.html">Cadastrar-se</a>
        </div>
        <div id="LogoInicio"></div>
        <h2>Home</h2>
        <h2>Estoque</h2>
        <h2>Sobre nós</h2>
    </header>

    <main>
        <div id="Carro1">
            <div id="ImgCarro1"></div>
            <h4>Nome do carro............</h4>
            <div>
                <p>R$000.000,00</p>
                <button>Ver detalhes</button>
            </div>
        </div>

        <div id="Carro2">
            <div id="ImgCarro2"></div>
            <h4>Nome do carro............</h4>
            <div>
                <p>R$000.000,00</p>
                <button>Ver detalhes</button>
            </div>
        </div>
        
        <div id="Carro3">
            <div id="ImgCarro3"></div>
            <h4>Nome do carro............</h4>
            <div>
                <p>R$000.000,00</p>
                <button>Ver detalhes</button>
            </div>
        </div>

        <div id="Carro4">
            <div id="ImgCarro4"></div>
            <h4>Nome do carro............</h4>
            <div>
                <p>R$000.000,00</p>
                <button>Ver detalhes</button>
            </div>
        </div>

        <div id="Carro5">
            <div id="ImgCarro5"></div>
            <h4>Nome do carro............</h4>
            <div>
                <p>R$000.000,00</p>
                <button>Ver detalhes</button>
            </div>
        </div>

        <div id="Carro6">
            <div id="ImgCarro6"></div>
            <h4>Nome do carro............</h4>
            <div>
                <p>R$000.000,00</p>
                <button>Ver detalhes</button>
            </div>
        </div>
    </main>

    <footer>
        <div id="EnderecoTudo">
            <div id="IconEndereco"></div>
            <p>R. Avenida não sei oq, Jardim sei lá, São Paulo - SP: 00000-000</p>
        </div>

        <div id="TelefoneTudo">
            <div id="IconTelefone"></div>
            <p>Atendimento</p>
            <p>(00) 0000-0000</p>
        </div>    

        <div id="WhatsappTudo">
            <div id="IconWhatsApp"></div>
            <p>WhatsApp</p>
            <p>(00) 90000-0000</p>
        </div>

        <div id="EmailTudo">
            <div id="IconEmail"></div>
            <p>Email</p>
            <p>emailFoda@gmail.com</p>
        </div>

        <div id="FacebookTudo">
            <div id="IconFacebook"></div>
            <p>Facebook</p>
            <p>Facebook.com.br</p>
        </div>

        <div id="InstaTudo">
            <div id="IconInstagram"></div>
            <p>Instagram</p>
            <p>@InstaConsessionaria</p>
        </div>
    </footer>
</body>
</html>