<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proposta</title>
</head>
<body>
    <form action="https://formspree.io/f/mbljrnkp" method="POST">
        <label>Nome</label>
        <input id="nome" type="text" name="name" placeholder="Digite seu nome" required>

        <label>Email</label>
        <input id="email" type="email" name="email" placeholder="Digite seu email" required>

        <label>Mensagem</label>
        <textarea id="mensagem" name="message" cols="30" rows="10" placeholder="Digite sua mensagem" required></textarea>

        <button type="submit">Enviar</button>
      </form>
</body>
</html>