<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faça seu login</title>
    <link rel="stylesheet" href="/public/assets/css/auth.css">
</head>
<body>
    <div id="container_login">
        <header id="header_login">
            <h1>Faça seu login</h1>
        </header>

        <main id="main_login">
            <form action="" method="post" id="form_login">
                <label for="Email_Usuario">Endereço email:</label>
                <input name="Email_Usuario" type="email" id="emailUsuario" required>

                <label for="Senha_Usuario">Senha:</label>
                <input name="Senha_Usuario" type="password" id="senhaUsuario" required>

                <input name="EnviarLogin" type="submit" id="loginEnviar" value="Enviar">
            </form>
        </main>
    </div>
</body>
</html>