<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faça seu login</title>
    <link rel="stylesheet" href="../../../public/auth.css">
</head>
<body id="body_loginhtml">
    <div id="div_loginhtml">
        <header id="header_loginhtml">
            <h1>Faça seu login</h1>
        </header>

        <main id="main_loginhtml">
            <form action="" method="post" id="form_loginhtml">
                <label for="Email_Usuario">Endereço email:</label>
                <input name="Email_Usuario" type="email" id="Email_User_loginhtml" required>

                <label for="Senha_Usuario">Senha:</label>
                <input name="Senha_Usuario" type="password" id="Senha_User_loginhtml" required>

                <input name="EnviarLogin" type="submit" id="Enviar_loginhtml" value="Enviar">
            </form>
        </main>
    </div>
</body>
</html>