<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
    <link rel="stylesheet" href="/public/auth.css">
</head>
<body id="body_registerhtml">
    <div id="div_registerhtml">
        <header id="header_registerhtml">
            <h1>Cadastre-se</h1>
        </header>

        <main id="main_registerhtml">
            <form id="form_registerhtml" action="/ProjetoTurmaB-Consessionaria/register" method="post">
                <label for="Nome_Usuario">Nome completo:</label>
                <input name="Nome_Usuario" type="text" id="Nome_User_registerhtml" placeholder="  Seu Nome Completo" autocomplete="name" required>

                <label for="Email_Usuario">Endereço email:</label>
                <input name="Email_Usuario" type="email" id="Email_User_registerhtml" placeholder="  seu@email.com" autocomplete="email" required>

                <label for="Senha_Usuario">Senha:</label>
                <input name="Senha_Usuario" type="password" id="Senha_User_registerhtml" placeholder="  Senha0123" required>

                <input name="EnviarCadastro" type="submit" id="Enviar_registerhtml" value="Enviar">
            </form>
        </main>
    </div>
</body>
</html>